<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">F30 sample application</a>
    </div>
  </div>
</div>

<div id="content" class="container"></div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
