<a id="js-log-out">Log Out</a>
<form id="js-login-form" role="form" action="POST">
  <h1>login here</h1>
  <div class="form-group">
    <label for="js-email-input">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="js-password-input">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button id="js-login-btn" type="submit" class="btn btn-default">Submit</button>
</form>

<a href="/users">view all users</a>

<h1>Not a user?</h1>
<a href="/signup">Sign up here!</a>

